# Copyright (C) 2025  Ruby-GNOME Project Team
#
# This library is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: Test
on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
  pull_request:
jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Test
        run: |
          bundle exec test/run.rb
  docker:
    name: ${{ matrix.distribution }}
    strategy:
      fail-fast: false
      matrix:
        distribution:
          - almalinux-9
          - alpine-linux
          - alt-linux
          - amazon-linux-2
          - amazon-linux-2023
          - arch-linux
          - conda
          - debian-bookworm
          - fedora
          - gentoo-linux
          - opensuse
          - pld-linux
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Build Docker image
        run: |
          docker compose build ${{ matrix.distribution }}
      - name: Run
        run: |
          docker compose run --rm ${{ matrix.distribution }}
  native:
    name: ${{ matrix.ruby-version }} on ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - macos
          - ubuntu
        ruby-version:
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
    runs-on: ${{ matrix.runs-on }}-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install
        run: rake install
      - name: Install dummy-cairo gem
        run: |
          cd test/fixture/dummy-cairo
          gem build *.gemspec
          gem install ./*.gem

  windows-msys2:
    name: Windows ${{ matrix.msystem }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: CLANG64
            package-prefix: mingw-w64-clang-x86_64
            runner: windows-latest
          - msystem: CLANGARM64
            package-prefix: mingw-w64-clang-aarch64
            runner: windows-11-arm
          - msystem: MINGW32
            package-prefix: mingw-w64-i686
            runner: windows-latest
          - msystem: MINGW64
            package-prefix: mingw-w64-x86_64
            runner: windows-latest
          - msystem: UCRT64
            package-prefix: mingw-w64-ucrt-x86_64
            runner: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: >-
            base-devel
            ${{ matrix.package-prefix }}-ruby
            ${{ matrix.package-prefix }}-toolchain
      - name: Install
        shell: msys2 {0}
        run: |
          rake install
      - name: Install dummy-cairo gem
        shell: msys2 {0}
        run: |
          cd test/fixture/dummy-cairo
          gem build *.gemspec
          gem install ./*.gem
